/* Kelas Font */
.fontoswald {
  font-family: "Oswald", sans-serif;
}
.fontrubik {
  font-family: "Rubik", sans-serif;
}
.font-tilt-wrap {
  font-family: "Tilt Warp", cursive;
}
.font-josesif-sans {
  font-family: "Josefin Sans", sans-serif;
}
.font-lexand {
  font-family: "Lexend Deca", sans-serif;
}
.font-bagel {
  font-family: "Bagel Fat One", cursive;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
/* text transform */
.uppercase {
  text-transform: uppercase;
}

/* fontsize */
.font-size-card {
  font-size: 0.8rem;
}
