/* Kelas Font */
.fontoswald {
  font-family: "Oswald", sans-serif;
}
.fontrubik {
  font-family: "Rubik", sans-serif;
}
.font-tilt-wrap {
  font-family: "Tilt Warp", cursive;
}
.font-josesif-sans {
  font-family: "Josefin Sans", sans-serif;
}
.font-lexand {
  font-family: "Lexend Deca", sans-serif;
}
.font-bagel {
  font-family: "Bagel Fat One", cursive;
}
