* {
  margin: 0;
  padding: 0;
}
.bg-success {
  background-color: rgb(175, 144, 5) !important;
}
.turun {
  margin-top: 3.6em;
}

/* brand */
.brand-text {
  letter-spacing: 0.1em;
  color: rgb(243, 234, 196);
}
/* header */
.header {
  display: grid;
  grid-template-areas: "hero";
}
.hero {
  display: flex;
  flex-wrap: wrap;
  grid-area: hero;
  min-height: 350px;
  background-image: url(https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5920.jpg?w=740&t=st=1690430473~exp=1690431073~hmac=611de3437c43cecebc742c2301eea388b2206f9d02e3beace8afc6c4f79821c5);
  background-size: cover;
  background-position: center;
  align-items: center;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
span {
  color: rgb(236, 236, 118);
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3), 0 0 3px rgba(255, 255, 255, 0.3);
}

.fontheader {
  font-size: 10vh;
  margin-left: 0.7em;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3), 0 0 3px rgba(255, 255, 255, 0.3);
}
.imgwidth {
  width: 20em;
}

/* content */
.containerLocal {
  display: grid;
  grid-template-areas: "sidebar mainbar";
  grid-template-columns: 1fr 4fr;
}

/* sidebar */
.sidebar {
  grid-area: sidebar;
  border-right: 1px solid rgb(202, 202, 202);
}
.sidebar > h2,
.mainbar > h2 {
  text-transform: uppercase;
  font-size: 3em;
}
.list-group li {
  font-size: 0.8rem;
}
.list-group li a {
  text-decoration: none;
  color: black;
}
.list-group li a:hover {
  text-decoration: underline;
  color: black;
}
.accordion-item {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1 !important;
}
/* details {
  margin-left: 1em;
}
details p {
  margin-bottom: 0;
  margin-left: 1.6em;
  color: #585858;
  text-decoration: underline;
  font-size: 1vw;
} */

/* mainbar */
.mainbar {
  margin: 0em 1em;
  grid-area: mainbar;
}
.first-mainbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.second-mainbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}
.second-mainbar .text-content {
  order: 2;
}
.text-content {
  padding: 2em;
}

/* footer */
.footer {
  display: grid;
  grid-template-areas: "f-left f-right";
  grid-template-columns: 1fr 1fr;
  gap: 5em;
  padding: 2em 2em 1em 2em;
}
h5 {
  font-size: 1.5em;
}
.footer-left > p {
  font-size: 1em;
}
.footer > * {
  color: white;
}
.footer-left {
  grid-area: f-left;
}
.footer-right {
  grid-area: f-right;
}
.footer-right > a {
  padding: 0.5em 2.2em 0.5em 2em;
  font-weight: bold;
  margin-right: 1rem;
}
.footer-left > .icon {
  display: flex;
}
.icon img {
  margin-right: 1em;
  width: 1rem;
}
.btn-danger img,
.btn-success img {
  width: 1.3rem;
  margin-bottom: 0.2rem;
  margin-right: 1rem;
}
/* resposive breakpoint */
@media (max-width: 992px) {
  .fontheader {
    font-size: 5vh;
    margin-left: 0.3em;
  }
  .imgwidth {
    margin-bottom: 0.6em;
    width: 10em;
  }
}
@media (max-width: 767px) {
  .containerLocal {
    display: grid;
    grid-template-areas: "sidebar" "mainbar";
    grid-template-columns: 100%;
  }
  .sidebar {
    grid-area: sidebar;
    padding-bottom: 0.8em;
    border-bottom: 1px solid rgb(202, 202, 202);
    border-right: none;
  }
  .dflex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .first-mainbar,
  .second-mainbar {
    flex-wrap: wrap;
  }
  .mainbar {
    grid-area: mainbar;
  }
  .hero {
    max-height: 150px;
  }
  .fontheader {
    font-size: 3vh;
    margin-left: 0.3em;
  }
  .img-content {
    order: 1;
  }
  .text-content h4 {
    text-align: center;
  }
  .text-content {
    order: 2;
  }
  .imgwidth {
    margin-bottom: 0.6em;
    width: 15em;
  }
  /* footer */
  .footer {
    display: grid;
    grid-template-areas: "f-left" "f-right";
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 2em;
  }
  .footer-left {
    margin-bottom: 1em;
  }
  .footer-left > p {
    margin: 0;
  }
}
